/*------------------------------*/
/* HEADER */
/*------------------------------*/

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #fdf2e9;

  /* 為了將header固定 */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  /* 雖然22px不在規則系統裡面，但可以為了細調打破規則 */
  height: 2.2rem;
}

/*------------------------------*/
/* NAVIGATION */
/*------------------------------*/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/*------------------------------*/
/* HERO SESSION */
/*------------------------------*/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  /* .hero的寬度沒有直接使用.container主要是因為希望把.hero的寬度設計的更寬一點以保持更好的UI呈現 */
  
  /* 單純設置width會出現X軸 */
  max-width: 130rem;
  margin: 0 auto;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  /* 沒設置width: 100%的話會破板 */
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  /* 理論上通常不指定寬度，因為它會自動得到調整，但由於Safari瀏覽器會有錯誤，因此還是進行設定寬度。 */
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/*------------------------------*/
/* FEATURED IN SECTION */
/*------------------------------*/

.section-featured {
  /* 下距有點太大，因此調整4.8rem → 3.2rem */
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  /* 選擇space-around的理由是覺得這個部分的內容更適合內縮一點 */
  justify-content: space-around;  
}

.logos img {
  /* flex item 使用高度設計會比寬度更自然 */
  height: 3.2rem;

  /*? 圖片調成灰色大法 */
  /* filter: grayscale(1); 這方法不能全灰 */
  filter: brightness(0);
  opacity: 50%;
}

/*------------------------------*/
/* HOW IT WORKS SECTION */
/*------------------------------*/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  /* .step-number color 選用一個與背景較接近的顏色，其實違反了對比原則，但由於這個數字並不是重要的資訊，因此為了設計風格而打破了原則較無傷大雅。 */
  color: #ddd;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  /* 這是一個圓圈的設計，由於這個圓圈只是用於style而不具備內容，因此使用偽元素來處理，避免汙染html。 */
  content: "";
  display: block;

  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.step-img-box::before {
  width: 60%;
  /* 高度會隨著螢幕收縮而改變 height: 60%; */

  /* 因此使用padding-bottom的方法來取代 60% of parent's width */
  padding-bottom: 60%;

  background-color: #fdf2e9;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;

  background-color: #fae5d3;
}

.step-img {
  /* 通常需要使用 google chome dev 去調整圖片大小，以測試出合適的大小 */
  width: 35%;
}



